body {
  margin: 0;
}

#lineDrawing {
  white-space: nowrap;
  overflow: hidden;
  margin-left: -4px;
}

.greatVibes {
  font-family: 'Great Vibes', cursive;
  text-shadow: 1px 2px 8px;
  color: #272759;
  font-weight: normal;
  font-size: 10rem;
  text-align: center;
}

.greatVibes .letter {
  display: inline-block;
  line-height: 1em;
}

